.facebook_bg {
    background-color: #e9ebee;
}

.red_color {
    background-color: #F44336;
}

.layout_nav {
    margin: 0.5rem 0 0 0;
}
@media screen and (max-width: 900px) {
    .nav_list {
        flex-direction: column;
    }
    .navbar-brand {
        margin-left: 1rem!important;
    }
}

#map {
    height: 65vh;
}
