.facebook_bg {
    background-color: #e9ebee;
}

.red_color {
    background-color: #F44336;
}

.ml-8 {
    margin-left: 8rem;
}

.step-image {
    width: 50vw;
}

@media screen and (max-width: 900px) {
    .nav_list {
        flex-direction: column;
    }

    .navbar-brand {
        margin-left: 1rem !important;
    }

    .navbar {
        padding: 0.5rem 0 !important;
    }

    .col-3, .col-6 {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .step-image {
        width: 75vw;
    }
}

#map {
    height: 65vh;
}
