<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>問題に解答</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div th:if="${finishFlag}">
        <h1 class="row">解答終了！</h1>
        <h2 class="row">正答数：<span th:text="${answerForm.getNumberOfCorrectAnswers()}"> </span>問！</h2>
        <h3 class="row">お疲れ様でした！</h3>
    </div>

    <div th:unless="${finishFlag}">
        <div class="row mb-3">
            <h1 th:text="${answerForm.getQuestionStatement()}"></h1>
        </div>
        <div class="row">
            <form th:action="@{/problem/{id}/answer(id=${problem.getId()})}" th:object="${answerForm}" th:method="get">
                <input type="hidden" th:field="*{questionId}" th:value="${answerForm.getQuestionId()}">
                <input type="hidden" th:field="*{numberOfCorrectAnswers}"
                       th:value="${answerForm.getNumberOfCorrectAnswers()}">
                <div th:each="choice : ${choiceList}">
                    <label>
                        <input type="radio" th:field="*{answeredChoiceId}" th:value="${choice.getId()}"
                               th:text="${choice.getContent()}" class="mb-4"><br>
                    </label>
                </div>
                <input class="btn btn-primary" type="submit" value="解答する">
            </form>
        </div>
    </div>
</div>
</body>
</html>