<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>お店一覧</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col">
            <h2>お店一覧</h2>
            <div th:each="shop : ${shopList}" class="container card mb-3 py-3">
                <a th:href="'shop/' + ${shop.getId()}">
                    <div class="row d-flex justify-content-center">
                        <h3 th:text="${shop.getName()}"></h3>
                    </div>
                    <div th:text="${shop.getUrl()}" class="row d-flex justify-content-center"></div>
                    <div th:text="${shop.getAddress()}" class="row d-flex justify-content-center"></div>
                    <div th:text="${shop.getHours()}" class="row d-flex justify-content-center"></div>
                </a>
            </div>
        </div>

        <div class="col">
            <h2>お店をシェア</h2>
            <form th:action="@{/shop}" th:object="${shopPostForm}" method="post">
                <label for="title">URL:</label>
                <input id="title" type="text" th:field="*{url}"><br>

                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Share">
                </div>
            </form>

            <a th:href="@{/maps}">
                MAPで見る
            </a>
        </div>
    </div>
</div>
</body>
</html>
