<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="${shareUserId} ? '共有されたお店一覧' : 'お店一覧'"></title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <a href="#" class="col p-3 mb-2 bg-light d-flex justify-content-center text-dark">
            Listで見る
        </a>
        <a th:href="${shareUserId} ? '/share/' + ${shareUserId} + '/maps' : '/maps'"
           class="col p-3 mb-2 d-flex justify-content-center text-dark">
            MAPで見る
        </a>
    </div>

    <form th:action="${shareUserId} ? '/share/' + ${shareUserId} + '/shop' : '/shop'" th:object="${shopPostForm}"
          method="post">
        <div class="row">
            <div class="form-group col-8">
                <label for="url">URL:</label>
                <input type="text" class="form-control" id="url" placeholder="URL" th:field="*{url}">
                <small id="urlHelp" class="form-text text-muted">現在食べログのURLのみ有効です</small>
            </div>

            <div class="col-4 mt-4">
                <button type="submit" class="btn btn-outline-warning">Share</button>
            </div>
        </div>
    </form>

    <div th:each="shop : ${shopList}" class="container card mb-3 py-3">
        <a th:href="${shareUserId} ? '/share/' + ${shareUserId} + '/' + ${shop.getId()} : '/shop/' + ${shop.getId()}"
           class="text-dark">
            <div th:text="${shop.getName()}" class="text-dark h5"></div>
            <div th:text="'住所: ' + ${shop.getAddress()}" class="text-muted"></div>
            <div th:text="'営業時間: ' + ${shop.getHours()}" class="text-muted"></div>
        </a>
    </div>
</div>
</body>
</html>
