<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>問題一覧</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col">
            <h2>問題一覧です</h2>
            <div th:each="problem : ${problemList}" class="container card mb-3 py-3">
                <div class="row d-flex justify-content-center">
                    <h3 th:text="${problem.getTitle()}"></h3>
                </div>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="${problem.getDescription()}"></h4>
                </div>
                <div class="row">
                    <div class="col">
                        <a th:href="'problem/' + ${problem.getId()}">
                            <p>設問一覧へ</p>
                        </a>
                    </div>
                    <div class="col">
                        <a th:href="'problem/' + ${problem.getId()} + '/answer'">
                            <p>この問題に解答する</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a th:href="'problem/' + ${problem.getId()} + '/edit'">
                            <p>この問題を編集する</p>
                        </a>
                    </div>
                    <div class="col">
                        <form th:action="@{/problem/{id}(id=${problem.getId()})}" th:method="delete">
                            <input class="btn btn-danger" type="submit" value="この問題を削除する">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h2>問題を作成</h2>
            <form th:action="@{/problem}" th:object="${problemPostForm}" method="post">
                <label for="title">問題のタイトル:</label>
                <input id="title" type="text" th:field="*{title}"><br>

                <label for="description">問題の説明:</label>
                <textarea id="description" rows="10" cols="70" th:field="*{description}"></textarea><br>

                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="問題を作成する">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>