<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>ログイン</title>
</head>
<body>
<div class="container px-4" layout:fragment="content">
    <div class="row mt-4 justify-content-center"><h2>行きたかったお店に行こう</h2></div>
    <div class="row justify-content-center"><p>Share Shopは、行きたいお店を共有するためのサービスです</p></div>
    <div class="row mb-5 justify-content-center">
        <a th:href="@{/oauth2/authorization/google}">Googleでログインして始める</a>
    </div>

    <div class="row justify-content-center"><h4>STEP 1</h4></div>
    <div class="row justify-content-center"><p>食べログのURLをシェアすると、Listで表示することが出来ます。</p></div>

    <div class="row mb-5 justify-content-center">
        <img class="step-image" alt="step1-1" src="/image/step1-1.png">
    </div>
    <div class="row justify-content-center">
        <img class="step-image" alt="step1-2" src="/image/step1-2.png">
    </div>

    <div class="row mt-5 justify-content-center"><h4>STEP 2</h4></div>
    <div class="row justify-content-center"><p>「MAPで見る」タブでGoogle Map上で確認することが出来ます。</p></div>
    <div class="row justify-content-center">
        <img class="step-image" alt="step2-1" src="/image/step2-1.png">
    </div>

    <div class="row mt-5 justify-content-center"><h4>STEP 3</h4></div>
    <div class="row justify-content-center">
        <p>「自分のお店リストをshareする」ボタンから、自分のお店リストをシェアすることが出来ます。</p>
    </div>
    <div class="row mb-5 justify-content-center">
        <a th:href="@{/oauth2/authorization/google}">Googleでログインして始める</a>
    </div>
</div>
</body>
</html>
