<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>お店を共有</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="h3 mt-3">あなたの共有URL</div>
    <form>
        <div class="form-group">
            <input type="text" readonly class="form-control-plaintext" id="shareUrl" th:value="${url}">
        </div>
    </form>

    <div class="h3 mt-3">共有相手を追加</div>
    <form th:action="@{/share}" th:object="${shareForm}" method="post">
        <div class="row">
            <div class="form-group col-8">
                <label for="email">email address:</label>
                <input id="email" type="email" class="form-control" th:field="*{email}" placeholder="email">
                <small id="emailHelp" class="form-text text-muted">
                    ShareShopにログインしたことのあるユーザのみ追加できます
                </small>
            </div>
            <div class="col-4 mt-4">
                <button type="submit" class="btn btn-outline-warning">Share</button>
            </div>
        </div>
    </form>

    <div class="h3 mt-3">共有中のユーザ</div>
    <div th:each="entry : ${shareEmailMap}" class="container card mb-3 py-3">
        <div class="row">
            <div th:text="${entry.value}" class="col d-flex align-items-center"></div>
            <form th:action="@{/share/{id}(id=${entry.key})}" th:method="delete"
                  class="col d-flex align-items-center mb-0">
                <input class="btn btn-outline-warning" type="submit" value="Delete">
            </form>
        </div>
    </div>
</div>
</body>
</html>
