<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>お店を共有</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <h2>あなたの共有URL</h2>
        <p th:text="${url}"></p>
    </div>

    <div class="row">
        <h2>共有相手を追加</h2>
    </div>

    <div class="row">
        <h2>共有中のユーザ</h2>
    </div>
</div>
</body>
</html>
