<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>共有されているリスト</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="h2 m-3">共有されているリスト</div>
    <div th:each="email,iter : ${sharedEmailList}" class="container card mb-3 py-3">
        <div class="row">
            <div th:text="${email}" class="col-3 align-items-center"></div>
            <a th:text="${sharedUrlList.get(iter.index)}" th:href="${sharedUrlList.get(iter.index)}"
               class="col-6 align-items-center"></a>
            <form th:action="@{/shared/{id}(id=${sharedList.get(iter.index).getId()})}" th:method="delete"
                  class="col-3 align-items-center mb-0">
                <input class="btn btn-outline-warning" type="submit" value="Delete">
            </form>
        </div>
    </div>
</div>
</body>
</html>
